<strong>
  Olá, {{ user }}
</strong>
<p>Você recebeu um novo inscrito para o evento {{evento}} <br /> Veja os detalhes:</p>
<p>
  <strong>    Inscrito:</strong>{{inscrito}}
  <br />
  <strong>    Evento:</strong>{{evento}}
  <br />
   <strong>    Data:</strong>{{data}}
  <br />

</p>
